node_modules
.pnpm-store
.pnpm-debug.log*

# Build
dist
.next
out
build

# Turbo
.turbo

# Env
.env
.env.local
.env.*.local

# IDE / OS
.DS_Store
.vscode
.idea
*.log

# Test
coverage

# TS
*.tsbuildinfo
next-env.d.ts
apps/web/public/gliner/model.onnx
